<a href="https://colab.research.google.com/github/Mario-U-KY/DataScience/blob/main/2_2_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>2.2 Data Preprocessing</h1>

<h2>2.2.1 Reading the Dataset</h2>

In [2]:
import os

os.makedirs(os.path.join('..', 'data'), exist_ok = True) #폴더 만들기
data_file = os.path.join('..', 'data', 'house_tiny.csv') #파일 만들기
with open(data_file, 'w')as f: #w모드로 data_file이라는 변수에 할당하면서 내용 기입
  f.write('NumRooms, Alley,Prie\n')
  f.write('NA,Pave,127500\n')
  f.write('2,NA,106000\n')
  f.write('4,NA,178100\n')
  f.write('NA,NA,140000\n')

import pandas as pd

data = pd.read_csv(data_file) #할당된 데이터 불러오기
print(data)

   NumRooms  Alley    Prie
0       NaN   Pave  127500
1       2.0    NaN  106000
2       4.0    NaN  178100
3       NaN    NaN  140000

<h2>2.2.2 Handling Missing Data</h2>

NaN = missing data, imputation(대치) 혹은 deletion을 통해 값을 변환하거나 제거할 필요가 있다. integer-location based indexing(iloc)를 통해 데이터를 input과 output으로 분리한 뒤, NaN entries를 변환시켜보자

In [4]:
inputs, outputs = data.iloc[:,0:2], data.iloc[:,2]
inputs = inputs.fillna(inputs.mean()) # Numrooms column에 있는 NaN값들을 나머지 값의 평균으로 대치한다.
print(inputs)

   NumRooms  Alley
0       3.0   Pave
1       2.0    NaN
2       4.0    NaN
3       3.0    NaN

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

alley column은 Pave 이거나 NaN으로 값을 가지므로, 이를 두개의 column 인 Alley_Pave, 그리고 Alley_nan으로 변환 시킨 뒤 참 거짓 유무를 1,0으로 매핑시킨다.

In [5]:
inputs = pd.get_dummies(inputs, dummy_na = True)
print(inputs)

   NumRooms   Alley_Pave   Alley_nan
0       3.0            1           0
1       2.0            0           1
2       4.0            0           1
3       3.0            0           1

<h2>2.2.3 Conversion to the Tensor Format</h2>

In [8]:
import torch
X, y = torch.tensor(inputs.values), torch.tensor(outputs.values)
X, y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500, 106000, 178100, 140000]))